<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Post</title>
</head>
<body>

<h1>Posts</h1>

<ul id="posts-list">
    <!-- Example post items with delete buttons -->
    <li>
        <strong>Post 1</strong><br>
        Content of Post 1<br>
        <em>User: JohnDoe</em>
        <button onclick="deletePost(1)">Delete</button>
    </li>
</ul>

<script>
    function deletePost(postId) {
        // Perform the delete operation here, such as sending a request to the server
        // For now, let's just display an alert indicating which post is being deleted
        alert(`Deleting post with ID ${postId}`);
    }
</script>

</body>
</html>
